<p id="notice"><%= notice %></p>

<h1>Home</h1>
<h3>Welcome <%=@current_user.email%></h3>

<%= form_tag(invite_path, :method => "post") do %>
  <%= label_tag(:email, "Send invitation to email:") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag("Send") %>
<% end %>

<%= link_to 'Log out', destroy_user_session_path, :method => :delete %>


