<p id="notice"><%= notice %></p>

<h1>Home</h1>
<h3>Wellcome <%=current_user.name%></h3>

<%= form_tag(invite_path, :method => "post") do %>
  <%= label_tag(:email, "Send invitation to email:") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag("Send") %>
<% end %>

<%= link_to 'Log out', login_path %>


