<div class = "form-centered">
  <h1>Invitation</h1>
  <h3>Send an invitation email to join <%=current_user_organization.name%></h3>

  <%= form_tag(invite_path, :method => "post") do %>
    <%= text_field_tag(:email, nil, class: 'form-control', placeholder: "Email")%>
    <br>
    Organization user <%= radio_button_tag(:role, "organization_user", true, class:'centered-radio') %>
    <br>
    Finance user <%= radio_button_tag(:role, "finance_user", false, class:'centered-radio') %>
    <%= submit_tag "Send", class:"btn btn-primary margin"%>
  <% end %>

</div>