


<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :onsubmit => "show_spiner()" }) do |f| %>
  <h1><%= t('.sign_in') %></h1>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= image_tag  "at.png", size: "28", class: "login-icon"%>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: "Email" %>
  </div>

  <div class="form-group">
    <%= image_tag  "key.png", size: "28", class: "login-icon"%>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', placeholder: "Password" %>
  </div>

  <div style = "width: 70%; margin-left: auto; margin-right: auto; display: block">
    <%= bootstrap_flash %>
  </div>
  <br>

  <div class="sk-folding-cube" id='spiner' style="display:none">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>

  <div id='submit_form_container'>
    <div class="form-group">
    <%= f.submit  t('.sign_in'), class: 'btn btn-primary', id:"send_form_button" %>
    </div>
  </div>

  <div class="form-group">
    <%= link_to t(".sign_up"), new_registration_path(resource_name) %><br />
  </div>

<% end %>

