<%= bootstrap_form_for @application_key, local: true,:html => {:onsubmit => "show_spiner()"} do |form| %>
  <h1><%=@form_title%></h1>
  <div class="form-group" style="text-align:left">
    <%= form.alert_message "Please fix the errors below." %>
  </div>  

  <div class="form-group">
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label "Promotions" %><br />
    <%= form.collection_check_boxes :promotions, @promotions, :id, :name do |b| %>
      <div class="collection-check-box">
        <%= b.check_box "Promotion", enabled, checked: true %>
        <%= b.label %>
      </div>
    <% end %>


  </div>
  <div class="actions">
    <div id = "submit_form_container">
      <%= form.submit class: "btn btn-primary"%>
    </div>
  </div>

  <div style="display:block;margin:10px auto;width:fit-content" onclick='show_spiner();'><%= link_to 'Back', application_keys_path %></div>
<% end %>
