<div class = "white-container">
<h1>Application Keys</h1>
<a class="btn btn-primary" style="padding: 5px; margin: 15px auto; display:block; width: 150px" href=<%=new_application_key_path%>>
  New Application Key
</a>
<div class = "digg_pagination" style="display:block; margin: 20px auto 0px auto; clear:both; background: none">
</div>
<div class = "table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th width = "35%">Name</th>
        <th width = "30%">Promotions</th>
        <th width = "20%">Token</th>
        <th width = "5%">Show</th>
        <th width = "5%">Edit</th>
        <th width = "5%">Delete</th>
      </tr>
    </thead>

    <tbody>
    <% @application_keys.each do |application_key| %>
      <tr>
        <td><%= application_key.name %></td>
        <td><%= application_key.promotions.map{ |p| p.name}.join(', ') %></td>
        <td><%= application_key.token %></td>
        <td class = "option" >
          <a class="w3-button" style="padding: 3px;" href=<%=application_key_path(id: application_key.token)%>>
            <img src=<%=asset_url('loupe.png')%> width='24px'>
          </a>
        </td>
        <td class = "option">
          <a class="w3-button" style="padding: 3px" href=<%=edit_application_key_path(id: application_key.token)%>>
            <img src=<%=asset_url('edit.png')%> width='24px'>
          </a>
        </td>
        <td class = "option"  >
          <a data-confirm="Are you sure?" class="w3-button" style="padding: 3px" rel="nofollow" data-method="delete" href=<%=application_key_path(id: application_key.token)%>>
            <img src=<%=asset_url('delete.png')%> width='24px'>
          </a>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
<br>

</div>