<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application_key.name %>
</p>
<p>
  <strong>Token:</strong>
  <%= @application_key.generate_token %>
</p>


<%= link_to 'Edit', edit_application_key_path(@application_key) %> |
<%= link_to 'Back', application_keys_path %>
