<%= form_for @promotion.becomes(Promotion), local: true do |form| %>
 <% if promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
        <% promotion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, 'Nombre' %><br />
    <%= form.text_field :name, class: 'form-control', readonly: readonly %>
  </div>
  <div class="form-group">
    <%= form.label :code, 'Codigo' %><br />
    <%= form.text_field :code, class: 'form-control', readonly: readonly %>
  </div>

  <div class="form-group">
    <%= form.label 'Tipo:' %>
    <%if !readonly%>
      <%= form.radio_button :type, :Coupon, readonly: readonly %> Cupon <br/>
      <%= form.radio_button :type, :Discount, readonly: readonly %> Descuento
    <%else%>
      <%= @promotion.type == 'Discount'? 'Descuento' : 'Cupon' %>
    <%end%>
  </div>

  <div class="form-group">
    <%= form.label :condicion  %><br>
    <%= form.text_field :condition, readonly: readonly%>
  </div>

  <div class="form-group">
    <%= form.label 'Tipo de retorno:' %>
    <%if !readonly%>
      <%= form.radio_button :return_type, :fixed_value, readonly: readonly %> Valor fijo <br/>
      <%= form.radio_button :return_type, :percentaje, readonly: readonly %> Porcentaje 
    <%else%>
      <%= @promotion.return_type %>
    <%end%>
  </div>

  <div class="form-group">
    <%= form.label :valor_de_retorno%><br>
    <%= form.number_field :return_value, readonly: readonly%>
  </div>


  <div class="form-group">
      <%= form.label 'Estado:' %> 
    <%if !readonly%>
      <%= form.radio_button :active, true, readonly: readonly %> Activa <br/>
      <%= form.radio_button :active, false, readonly: readonly %> Inactiva 
    <%else%>
      <%= @promotion.active ? "Activa" : "Inactiva" %>
    <%end%>
  </div>


  <%if !readonly%>
    <div class="actions">
      <%= form.submit %>
    </div>
  <%end%>
<% end %>
