<%= bootstrap_form_for @promotion, :html => {:onsubmit => "show_spiner()"} do |form| %>
  <h1><%= @form_title %></h1>

  <div class="form-group" style="text-align:left">
    <%= form.alert_message "Please fix the errors below." %>
  </div>

  <%= form.hidden_field :id %>
  <div class="form-group">
    <%= form.text_field :name, readonly: readonly, required: true %>
  </div>
  <div class="form-group">
    <%= form.text_field :code, readonly: readonly, required: true %>
  </div>

  <% if not @is_edit %>
    <div class="form-group">
      <%= form.label :type %>
      <% if !readonly %>
        <%= form.radio_button :promotion_type, :coupon, readonly: readonly, onclick: "show_instances_field();" %>
        <%= form.radio_button :promotion_type, :discount, readonly: readonly, onclick: "hide_instances_field();" %>
      <% else %>
        <%= @promotion.promotion_type %>
      <% end %>
    </div>

  <% else %>
    <div class="form-group">
      <%= form.label :type %>
      <%= @promotion.type %>
    </div>

  <% end %>
  <div class="form-group">
    <%= form.text_area :condition, readonly: readonly, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :returned_value_type %>
    <% if !readonly %>
      <%= form.radio_button :return_type, :fixed, readonly: readonly %>
      <%= form.radio_button :return_type, :percentage, readonly: readonly %>
    <% else %>
      <%= @promotion.return_type %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.number_field :return_value, readonly: readonly, required: true %>
  </div>


  <div class="form-group">
    <%= form.label :active %>
    <% if !readonly %>
      <%= form.radio_button :active, true, label: 'Yes', readonly: readonly %>
      <%= form.radio_button :active, false, label: 'No', readonly: readonly %>
    <% else %>
      <%= @promotion.active ? "Active" : "Inactive" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.text_field :expiration, readonly: readonly, class: 'datepicker', required: true %>
  </div>

  <div class="sk-folding-cube" id='spiner' style="display:none">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>

  <% if !readonly %>
    <div class="actions">
      <div id = "submit_form_container">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div style="display:block;margin:10px auto;width:fit-content" onclick='show_spiner();'><%= link_to 'Back', promotions_path %></div>

<% end %>
