<%= form_for @promotion.becomes(Promotion), local: true do |form| %>
 <% if promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
        <% promotion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, 'Nombre' %><br />
    <%= form.text_field :name, class: 'form-control', readonly: readonly %>
  </div>
  <div class="form-group">
    <%= form.label :code, 'Codigo' %><br />
    <%= form.text_field :code, class: 'form-control', readonly: readonly %>
  </div>

  <div class="form-group">
    <%= form.label :Tipo %> <br/>
    <%= form.radio_button :type, :Coupon %> Cupon <br/>
    <%= form.radio_button :type, :Discount, checked: true %> Descuento
  </div>

  <%options = Promotion.return_types.keys.map {|ret_type| [ret_type.titleize,ret_type]} %>
  <% options.insert(0, "Seleccione tipo de retorno") %>
  <%= form.select(:return_type, options) %>

  <div class="form-group">
    <%= form.label :valor_de_retorno%><br>
    <%= form.number_field :return_value%>
  </div>

  <div class="form-group">
    <%= form.label :condicion  %><br>
    <%= form.text_field :condition %>
  </div>

  <div class="form-group">
    <%= form.label 'Estado' %><br />
    <%= form.radio_button :active, true %> Activa <br/>
    <%= form.radio_button :active, false, checked: true %> Inactiva
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
