<h1>Editar promocion</h1>
<%= form_for @promotion.becomes(Promotion), url: promotion_path do |form| %>
  <%= form.label 'Promotion name' %><br>
  <%= form.text_field :name %><br>

  <%= form.label 'Return Type' %><br>
  <%options = Promotion.return_types.keys.map {|ret_type| [ret_type.titleize,ret_type]} 
    config = {:selected_value => @promotion.return_type }%>
  <%= form.select(:return_type, options) %>

  <%= form.label 'Promotion name' %><br>
  <%= form.number_field :return_value %><br>

  <div class="field">
    <%= form.label :active %><br />
    <%= form.label :active, "Yes", :value => "true"  %>
    <%= form.radio_button :active, true, :checked => @promotion.active %>
    <%= form.label :active, "No", :value => "false" %>
    <%= form.radio_button :active, false, :checked => !@promotion.active %>
  </div>

  <%= form.submit "Confirmar cambio" %>
<% end %>
