<div class = 'home-container'>
    <h1 class="section-title">Promotions  </h1>

    <% @promotions.each do |promo|%>
        <div class = "promo-container">
            <h3><%=promo.name%> (<%=promo.code%>)</h3>
            <div class = "promo-info-container">
                <b>Type:</b> <%= promo.type%>
                <br><b>Code:</b> <%= promo.code%>
                <br><b>Return value:</b> 

                <% if promo.percentaje? %>
                <%=promo.return_value%>%
                <% else %>
                $<%=promo.return_value%>
                <% end %>

                <br><b>Active: </b><%= promo.active%> 
                <br><b>Condition: </b><%= promo.condition%>
                <br>
            </div>

            <div class = "w3-bar">
                <a class="w3-button" href=<%=promotion_path(promo)%>>Show</a>
                <a class="w3-button" href=<%=edit_promotion_path(promo)%>>Edit</a>
                <a data-confirm="Are you sure?" class="w3-button" rel="nofollow" data-method="delete" href=<%=promotion_path(promo)%>>Delete</a>
                <a class="w3-button" href=<%=generate_report_path(promo)%>>Report view</a>
            </div>
        </div>
    <%end%>
    <%= will_paginate @promotions %>

</div>
