<h1>Promociones <%current_user.email %> </h1>
<% @promotions.each do |promo|%>

<%= link_to 'Mostrar', promo %>
<%= link_to 'Editar', edit_promotion_path(promo)%>
<%= link_to 'Eliminar', promo, method: :delete, data: { confirm: 'Estás seguro?' }%>

<hr>
<h2><%=promo.name%></h2>
<br><u>codigo: </u> <%= promo.code%>
<br><u>retorno: </u> 

<% if promo.percentaje? %>
<%=promo.return_value%>%
<% else %>
$<%=promo.return_value%>
<% end %>

<br><u>activa: </u> 
<% if promo.active%>
yes
<% else %>
no
<% end %>


<hr>
<%end%>