<div class='white-container'>
  <h1 class="section-title"> Promotion report: <%= @promotion.code %></h1> <br/>
  <%if @report[:invocations_count] == 0%>
    <h3 style='color:black'>This promotion was never used</h3> <br/>
  <%else%>  
    <u>Invocations count: </u> <%= @report[:invocations_count] %> <br/>
    <u>Total money spent: </u> <%= @report[:total_money_spent] %> <br/>
    <u>Positive response ratio: </u> <%= @report[:positive_ratio] %> <br/> 
    <u>Negative response ratio: </u> <%= @report[:negative_ratio] %> <br/>
    <u>Average response time: </u> <%= @report[:average_response_time] %> <br/>
  <%end%>
  <%= link_to 'Back', promotions_path %>
</div>