

<div class='white-container'>
  <h1 class="section-title"> Promotion report: <%= @promotion.code %></h1> <br/>

  Invocations: <%=@usage_report['invocations_count']%> <br>
  Negative response rate: <%=@usage_report['negative_response_ratio']%> <br>
  Positive response rate: <%=@usage_report['positive_response_ratio']%> <br>
  Average response rate: <%=@usage_report['average_response_time']%> <br>
  Total money spent: <%=@usage_report['total_money_spent']%> <br>
  Last time updated: <%=@usage_report['last_time_updated']%> <br>

  <br>
  <canvas id="usage_report_ages" width="200px" height="200px"></canvas>
  <br>
  <canvas id="usage_report_countries" width="200px" height="200px"></canvas>
  <%=@demographic_report['countries'].keys%>
  <%=@demographic_report%>
  <%= link_to 'Back', promotions_path %>

</div>


<script>
//Charts scripts

var ctx_usage_report_ages = document.getElementById('usage_report_ages').getContext('2d');
var myChart_ages = new Chart(ctx_usage_report_ages, {
    type: 'pie',
    data: {
        labels: ['18-25', '25-40', '40-60', '60-99'],
        datasets: [{
            label: 'Usage by age',
            data: [
              <%=@demographic_report['ages']['18-25']['count']%>,
              <%=@demographic_report['ages']['25-40']['count']%>, 
              <%=@demographic_report['ages']['40-60']['count']%>,
              <%=@demographic_report['ages']['60-99']['count']%>
              ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'
              ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)'
             ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        title: {
            display: true,
            text: 'Ages',
            fontSize: 20
        }
    }
});

var ctx_usage_report_countries = document.getElementById('usage_report_countries').getContext('2d');
var myChart_countries = new Chart(ctx_usage_report_countries, {
    type: 'pie',
    data: {
        labels: <%=@demographic_report['countries'].keys%>,
        datasets: [{
            label: '# of Votes',
            data: <%=@demographic_report['countries'].keys.map { |country| demographic_report[country]['count'] }%>,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'
              ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)'
             ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        title: {
            display: true,
            text: 'Countries',
            fontSize: 20
        }
    }
});
</script>