<div class='white-container'>
  <h1 class="section-title"> Promotion report: <%= @promotion.code %></h1> <br/>
  <%=@promotion%>
  <%=@demographic_report%>
  <%=@usage_report%>
  <%= link_to 'Back', promotions_path %>
</div>